# DON'T FORGET TO RENAME TO .env OR .env.local BEFORE PUSHING TO GIT

### DEVELOPMENT ONLY VARIABLES
# These variables need to be set for local development only


# Mandatory next-auth URL for localhost
NEXTAUTH_URL=http://localhost:3000

 
### PRODUCTION & DEVELOPMENT VARIABLES
# These variables need to be set for local development and when deployed on Vercel

# Change this to your own domain
NEXT_PUBLIC_ROOT_DOMAIN=localhost:3000

NEXT_PUBLIC_BASE_URL=http://localhost:3000


NEXT_PUBLIC_PROJECT_ID=f557b20e5a0f6685530c931483981a48

NEXT_PUBLIC_NETWORK=BASE_SEPOLIA

# PostgreSQL database URL – get one here: https://vercel.com/docs/storage/vercel-postgres/quickstart

# Vercel authentication token that can be found here: https://vercel.com/account/tokens
AUTH_BEARER_TOKEN=WK0iQHxEhkWeiecymvrKFUxn


NEXT_PUBLIC_UMAMIC_WEBSITE_ID=



NEXT_PUBLIC_PROJECT_ID=c14706333098a244008f56738fdbde0f


NEXT_PUBLIC_RESPACE_BASE_URI=https://www.respace.one


NEXT_PUBLIC_SUBGRAPH_URL=https://api.studio.thegraph.com/query/88544/respace-base-sepolia/version/latest



# ================ required =================

NEXT_PUBLIC_THEME=plantree-theme-minimal
NEXT_PUBLIC_POSTS_PER_PAGE=6
NEXT_PUBLIC_SPACE_ID=0x934b9c8545a9781b76d476200a4a9babadca9f36


# Vercel Blob Storage for image uploads – currently in beta, please fill out this form for access: https://tally.so/r/nPDMNd. Setup instructions: https://vercel.com/docs/storage/vercel-blob/quickstart
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_2CiL7AMUSlOLUyl8_4fOH0c9NPx0pJfI2fk3U2EHu2bDpbt"

DATABASE_URL="postgresql://user:penx@43.154.135.183:5432/penx"
NEXTAUTH_SECRET=adb6e96b7ec73026c7562eff5f8b95ee

REDIS_URL="redis://default:72dc8b56f9874af59230b1a08ab5bbb1@able-kangaroo-39064.upstash.io:39064"
