# DON'T FORGET TO RENAME TO .env OR .env.local BEFORE PUSHING TO GIT

### DEVELOPMENT ONLY VARIABLES
# These variables need to be set for local development only


# Mandatory next-auth URL for localhost
NEXTAUTH_URL=http://localhost:3000

NEXTAUTH_SECRET=adb6e96b7ec73026c7562eff5f8b95ee
 
### PRODUCTION & DEVELOPMENT VARIABLES
# These variables need to be set for local development and when deployed on Vercel

# Change this to your own domain
NEXT_PUBLIC_ROOT_DOMAIN=localhost:3000

NEXT_PUBLIC_BASE_URL=http://localhost:3000

NEXT_PUBLIC_API_HOST=https://develop-api.penx.io
# NEXT_PUBLIC_API_HOST=http://localhost:4000

NEXT_PUBLIC_PROJECT_ID=75879ee8d0e1f47758a4bb4577361f08


# PostgreSQL database URL – get one here: https://vercel.com/docs/storage/vercel-postgres/quickstart

POSTGRES_PRISMA_URL="postgresql://postgres.lhbhzftdcwwpxivqacsj:ljC8D5octw7BVjnN@aws-0-us-west-1.pooler.supabase.com:5432/postgres"

# Vercel Blob Storage for image uploads – currently in beta, please fill out this form for access: https://tally.so/r/nPDMNd. Setup instructions: https://vercel.com/docs/storage/vercel-blob/quickstart
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_2CiL7AMUSlOLUyl8_4fOH0c9NPx0pJfI2fk3U2EHu2bDpbt"

# GitHub OAuth secrets for auth & login – generate these here: https://github-client-generator.vercel.app/
AUTH_SECRET=89ed0b5b91729445501da8d7b43d3b08
AUTH_GITHUB_ID=Iv23lioZ5UwPwOJYOEF4
AUTH_GITHUB_SECRET=86bd77b28f49364343ffbcaaf6c5f59eb2c7b953

# Vercel authentication token that can be found here: https://vercel.com/account/tokens
AUTH_BEARER_TOKEN=WK0iQHxEhkWeiecymvrKFUxn
# Vercel Project ID that can be found here: https://vercel.com/<org>/<project>/settings
PROJECT_ID_VERCEL=
# Vercel Team ID that can be found here: https://vercel.com/teams/<org>/settings
# Only required if you're using this with a Vercel team
TEAM_ID_VERCEL=

# OpenAI API key for AI text generation – get one here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=

REDIS_URL="redis://default:72dc8b56f9874af59230b1a08ab5bbb1@able-kangaroo-39064.upstash.io:39064"

# http://localhost:3808/ https://ws-develop.penx.io
NEXT_PUBLIC_SOCKETURL=https://ws-develop.penx.io