#:schema node_modules/wrangler/config-schema.json
name = "penx-cloudflare"
compatibility_date = "2024-12-05"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

# Variable bindings. These are arbitrary, plaintext strings (similar to environment variables)
# Docs:
# - https://developers.cloudflare.com/pages/functions/bindings/#environment-variables
# Note: Use secrets to store sensitive data.
# - https://developers.cloudflare.com/pages/functions/bindings/#secrets
[vars]
SESSION_PASSWORD = "complex_password_at_least_32_characters_long" # https://generate-secret.vercel.app/64

# Bind the Workers AI model catalog. Run machine learning models, powered by serverless GPUs, on Cloudflare’s global network
# Docs: https://developers.cloudflare.com/pages/functions/bindings/#workers-ai
[ai]
binding = "AI"

# Bind a D1 database. D1 is Cloudflare’s native serverless SQL database.
# Docs: https://developers.cloudflare.com/pages/functions/bindings/#d1-databases
# 
# npx wrangler d1 create penx-blog
[[d1_databases]]
binding = "DB"
database_name = "penx-blog"
database_id = "{TODO:database id}" # replace with real database id

# Bind an R2 Bucket. Use R2 to store arbitrarily large blobs of data, such as files.
# Docs: https://developers.cloudflare.com/pages/functions/bindings/#r2-buckets
# npx wrangler r2 bucket create penx-bucket
[[r2_buckets]]
binding = "penx_bucket"
bucket_name = "penx-bucket"
