.container{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 288px;
  padding: 24px;
}

.welcome{
  margin-top: 20px;
}

.btnContainer{
  position: absolute;
  display: flex;
  bottom: 0px;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginBtn{
  width: 70%;
  height: 38px;
  background: #262525;
  color: #fff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.loginBtn:hover {
  background: #000000;
  cursor: pointer;
}

.loginBtn:active {
  background: #262525;
}