.item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 32px;
  list-style-type: none;
  transition:
    border-color 0.3s,
    background 0.3s,
    padding 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 8px;
  padding: 8px;
}

.item:hover {
  background-color: rgb(226, 223, 223);
  cursor: pointer;
}

.item-selected {
  background-color: #e1faeb;
  color: #9c27b0;
}
